<style>
    #nav-challenges{
        color: white;
    }
</style>


<main>
    <%- include('./partials/header') %>
    <div class="container">
        <div class="row">
            <% if (!session) { %>
            <div class="col-sm-12">
                <h2>Random daily challenge :</h2>
                <div style="padding: 10px; margin: 20px; color: darkslategray; font-family: 'American Typewriter' ">
                    <h1 class="p-4"><%= challenge %></h1>
                </div>
                <br>
            </div>
            <% } else if (session) { %>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Your daily challenges</h2>
                        <h3>Get them done to increase your points!</h3>

                            <ul>
                                <% for (let i = 0; i < arrChallenges.length; i++){ %>
                                    <li style="list-style-type:none;"> <%= arrChallenges[i].challenge %>
                                        %>
                                        <p align="left">
                                            <form action="/challenges" method="post">
                                            <button name="success" value="<%= arrChallenges[i]._id %>" class="btn btn-success">Success</button>
                                            </form>
                                        </p>
                                    </li>
                                <% } %>
                            </ul>

                    </div>
                </div>

            </div>
            <% } %>
        </div>
    </div>
    </div>
    </div>


</main>

<%- include('./partials/footer') %>


