<style>
    #nav-profile{
        color: white;
    }
</style>
<link href="/style/main.css" rel="stylesheet" type="text/css">


<main>
    <%- include('./partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>
        <script> document.write(new Date().toLocaleDateString()); </script>
        </p>
        <table class="table table-borderless align-middle">
            <tr>
            <td width="25%">
                <h1><%= me.username %></h1>
            </td>
            <td width="25%" align="right">
            <button class="btn btn-outline-success" disabled>Level <%= me.level %></button>
            </td>
            <td width="50%">

            <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width:<%= me.points*100/goal %>%" aria-valuenow="<%= me.points/goal %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </td>
            </tr>
        </table>
        </div>
    </div>
  <div class="row">
    <div class="col-sm-8">
        <form action="/logout" method="post">
            <button type="submit" id="button0" class="btn btn-success" >log out </button>
        </form>



        <p>Read the news on any given day, and you’d think we were all soon-to-be goners from climate change. New stories and reports regularly reveal all the ways humans are trashing the planet at an unprecedented rate.

Given the seemingly dismal reality, we might be tempted to throw up our hands and say there’s nothing we can do to fix the problem. But defeatism won’t get us anywhere.

Governments and corporations need to step in, but they shouldn’t bear all the responsibility for making a positive environmental impact. People from all walks of life can do things each day to reduce their carbon footprint and make their routine more eco-friendly.

Becoming an environmental warrior doesn’t require a superhero-like effort. Something as simple as creating a grocery shopping list or using ceramic baking pans can make a big difference.

In fact, a healthy lifestyle and an eco-conscious oneoften go hand in hand. Extra bonus: Being eco-friendly is often easier on the wallet.</p>

        <p>Written by <b>Stephanie Watson</b> on April 29, 2020</p>
        <br><br>
        <!-- Flash messages -->
        <h4><%= updateStatus %></h4>

        <form action="/profile" method="post" oninput="x.value=parseInt(a.value)">
            <label class="form-label" >Challenges per day: </label>
            <input type="range" style="width: 120px; vertical-align: middle;" class="form-range" id="a" name="a" value="1" min="1" max="3"> =
            <output name="x" for="a"></output>
            <br><br>

        <input value="default" type="radio" class="btn-check" name="options" id="option" autocomplete="off" checked>
        <label class="btn btn-success" for="option">Default</label>

        <input value="recycling and reduce waste" type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
        <label class="btn btn-success" for="option1">Recycling/Reducing waste</label>

        <input value="transport" type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label class="btn btn-success" for="option2">Transport</label>

        <input value="local products" type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
        <label class="btn btn-success" for="option3">Local Products</label>

        <input value="reducing water and electricity consumption" type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
        <label class="btn btn-success" for="option4">Reducing electricity/water consumption</label>
            <br><br>

            <button type="button" id="button" onclick="submit()" class="btn btn-primary" >Save challenges settings</button>

        </form>






    </div>
      <div class="col-sm-4">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title">Leader board</h2>
                <ol>
                <% for(let i = 0; i < user.length; i++) {%>
                <li> <b><%= user[i].username%></b>  - <%= user[i].points%> XP </li>
                <%}%>
                </ol>
              </div>

          </div>

      </div>
  </div>
</div>



</main>


<%- include('./partials/footer') %>

<script>
    function submit(){
        alert(document.getElementById("a").value);
    }
    function personalize(){
        if(document.getElementById("checkbox").checked){
            document.getElementById("listTitle").append("List the challenges in this format: (need to put example)");
            document.getElementById("list").disabled = false;
        }
        else{
            document.getElementById("listTitle").remove()
            document.getElementById("list").disabled = true;
        }
    }
</script>
